
<!--<h1>Signup Page</h1>-->

{% extends 'base.html'%}
{% block content %}
<div class="container bg-info mt-5 px-4" style="width:400px">
     <h3>Registration Form</h3><br>
      <h6 style="color:red">{{error}}</h6>
   <form method="POST" action="{% url 'signup'%}" >
       {% csrf_token%}
    <div class="mb-3">
        <label for="name" class="form-label">Username</label>
        <input type="text" class="form-control" id="name" name="username" placeholder="Username">

    </div>

    <div>
        <label  class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
    </div><br>
       <div>

        <label  class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmpassword" placeholder="Password" name="password1">
    </div><br>
   <center><button type="submit" class="btn btn-primary" style="text-align:center">Signup</button>

       <p>Already have an account? <a href="{%url 'login'%}">Signin</a></p>

   </center><br>

    </form>
</div>

{% endblock %}
